
<section class="contact content-wrap">
  <div class="container">
    <div class="row">
      <div class="user-panel">
        <h1 class="main-title title flex-container flex-center"><span class="flex-container flex-center">Laroom</span></h1>
      </div>
      <div class="contact-info-wrapper">
        <div class="contact-address text-center">
          <p>г. Москва, м. Чеховская<br/>Страстной бульвар д.4 стр.2, офис 405 (вход через арку дома 6)</p>
        </div>
        <hr class="contact-line"/>
        <div class="contact-address flex-container flex-wrap text-center">
          <div class="contact-address-column flex-3"><a class="contact-address-link" href="mailto:info@laroom.ru">info@laroom.ru</a></div>
          <div class="contact-address-column flex-3"><a class="contact-address-link" href="tel:74956699316">+7 (495) 6699316</a><br/><a class="contact-address-link" href="tel:79260056855">+7 (926) 0056855</a></div>
          <div class="contact-address-column flex-3">
            <p>ПН-ПТ 11-00 до 20:00</p>
            <p>СБ-ВС 11-00 до 17:00</p>
          </div>
        </div>
      </div>
      <div class="full-wide-width" id="map"></div>
    </div>
  </div>
</section><script>function initMap() {        var uluru = {lat: 55.751244, lng: 37.618423};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          icon: './images/marker.png'
        });
      }</script>
<script async="async" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0XXj9W_PDI_kz_UC1vtNV-w5kzQzQ_cQ&amp;callback=initMap"></script>