
<section class="section-padding reg-user">
  <div class="container">
    <div class="big-box no-border">
      <form class="reg-form" id="regStepZero" action="#">
        <div class="reg-form-wrap">
          <div class="row">
            <div class="modal-body">
              <div class="modal-content">
                <div class="modal-title-wrap">
                  <h3 class="modal-title text-center">Войдите в аккаунт через соцсети</h3>
                </div>
                <div class="modal-form-wrap"><a class="modal-btn mybtn mybtn-yellow mybtn-facebook" href="#">Авторизация через Facebook</a><a class="modal-btn mybtn mybtn-yellow mybtn-google" href="#">Авторизация через Google+</a></div>
                <div class="modal-form-divider"><span class="modal-form-divider-text">или</span></div>
                <div class="modal-title-wrap">
                  <h3 class="modal-title text-center">Войдите с помощью e-mail</h3>
                </div>
                <div class="modal-form-wrap">
                  <form class="modal-form" id="modalEnterForm" action="#">
                    <div class="modal-input-wrap">
                      <input class="modal-input" type="email" placeholder="Введите email"/>
                    </div>
                    <div class="modal-input-wrap">
                      <input class="modal-input" type="password" placeholder="Введите пароль"/>
                    </div>
                    <div class="modal-input-btn-wrap flex-container flex-side">
                      <input class="modal-input transition" type="submit" value="Войти"/><a class="modal-input-link" href="#">Забыли пароль?</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="big-box">
      <form class="reg-form" id="regStepOne" action="#">
        <div class="reg-form-wrap">
          <div class="row">
            <div class="col-12">
              <h1 class="reg-title text-center">Ваша собака</h1>
            </div>
            <div class="col-12 reg-column">
              <p class="reg-text text-center">Если у вас несколько собак, добавить еще вы сможете позже в личном кабинете</p>
            </div>
            <div class="col-4 reg-column">
              <label class="reg-label" for="dogName">Имя собаки</label>
            </div>
            <div class="col-8 reg-column">
              <div class="reg-input-wrap">
                <input class="reg-input" id="dogName" type="text" name="name"/>
              </div>
            </div>
            <div class="col-4 reg-column">
              <label class="reg-label">Фотографии
                <p class="reg-label-text">Загрузите фотографии вашей собаки</p>
              </label>
            </div>
            <div class="col-8 reg-column">
              <div class="reg-input-wrap">
                <label class="more mybtn mybtn-orange reg-btn" for="dogsPhotos" style="border-width:1px">
                  <input id="dogsPhotos" type="file" name="dogsPhotos" hidden="hidden"/><span>Добавить фотографии</span>
                </label>
              </div>
            </div>
            <div class="col-4 reg-column">
              <label class="reg-label" for="ageYear">Возраст</label>
            </div>
            <div class="col-4 reg-column">
              <div class="reg-input-wrap">
                <input class="reg-input" id="ageYear" type="number" name="ageYear"/>
              </div>
              <p class="reg-label-text">лет</p>
            </div>
            <div class="col-4 reg-column">
              <div class="reg-input-wrap">
                <input class="reg-input" id="ageMonth" type="number" name="ageMonth"/>
              </div>
              <p class="reg-label-text">месяцев</p>
            </div>
            <div class="col-4 reg-column">
              <label class="reg-label" for="dogType">Порода</label>
            </div>
            <div class="col-8 reg-column">
              <div class="reg-input-wrap">
                <input class="reg-input" id="dogType" type="text" name="type"/>
              </div>
            </div>
            <div class="col-4 reg-column">
              <label class="reg-label" for="dogSize">Размер</label>
            </div>
            <div class="col-8 reg-column">
              <div class="reg-input-wrap">
                <select class="reg-select" id="dogSize" name="type">
                  <option selected="selected">до 5 кг</option>
                  <option>5-10 кг</option>
                  <option>10-20 кг</option>
                  <option>20+ кг</option>
                </select>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height" for="dogDescription">Опишите вашу собаку</label>
            </div>
            <div class="col-6 reg-column">
              <textarea class="reg-textarea" id="dogDescription" name="dogDescription"></textarea>
            </div>
            <div class="col-6 reg-column">
              <ul class="reg-list">
                <li class="reg-list-item"><span>Особенности характера</span></li>
                <li class="reg-list-item"><span>Не метит ли дома, не грызет ли вещи?</span></li>
                <li class="reg-list-item"><span>Остается ли одна в квартире или необходим круглосуточный присмотр?</span></li>
                <li class="reg-list-item"><span>Сколько выгулов в день необходимо?</span></li>
                <li class="reg-list-item"><span>Чем питается: корм или необходимо готовить еду?</span></li>
              </ul>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Пол</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="dogMale">
                  <input class="reg-checkbox" id="dogMale" type="radio" name="sex" value="male"/><span>Мальчик</span>
                </label>
                <label class="reg-checkbox-label" for="dogFemale">
                  <input class="reg-checkbox" id="dogFemale" type="radio" name="sex" value="female"/><span>Девочка</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Ваша собака стерилизована/кастрирована?</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="sterYes">
                  <input class="reg-checkbox" id="sterYes" type="radio" name="ster" value="yes"/><span>Да</span>
                </label>
                <label class="reg-checkbox-label" for="sterNo">
                  <input class="reg-checkbox" id="sterNo" type="radio" name="ster" value="no"/><span>Нет</span>
                </label>
                <label class="reg-checkbox-label" for="sterMaybe">
                  <input class="reg-checkbox" id="sterMaybe" type="radio" name="ster" value="maybe"/><span>Не знаю точно</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Ваша собака дружелюбна к другим собакам?</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="politeYes">
                  <input class="reg-checkbox" id="politeYes" type="radio" name="polite" value="yes"/><span>Да</span>
                </label>
                <label class="reg-checkbox-label" for="politeNo">
                  <input class="reg-checkbox" id="politeNo" type="radio" name="polite" value="no"/><span>Нет</span>
                </label>
                <label class="reg-checkbox-label" for="politeMaybe">
                  <input class="reg-checkbox" id="politeMaybe" type="radio" name="polite" value="maybe"/><span>Не знаю точно</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Ваша собака дружелюбна к кошкам?</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="politeCatYes">
                  <input class="reg-checkbox" id="politeCatYes" type="radio" name="politeCat" value="yes"/><span>Да</span>
                </label>
                <label class="reg-checkbox-label" for="politeCatNo">
                  <input class="reg-checkbox" id="politeCatNo" type="radio" name="politeCat" value="no"/><span>Нет</span>
                </label>
                <label class="reg-checkbox-label" for="politeCatMaybe">
                  <input class="reg-checkbox" id="politeCatMaybe" type="radio" name="politeCat" value="maybe"/><span>Не знаю точно</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Остается ли собака дома одна?</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="aloneTot">
                  <input class="reg-checkbox" id="aloneTot" type="radio" name="alone" value="male"/><span>Остается одна, пока я на работе</span>
                </label>
                <label class="reg-checkbox-label" for="aloneLittle">
                  <input class="reg-checkbox" id="aloneLittle" type="radio" name="alone" value="female"/><span>Остается на пару часов</span>
                </label>
                <label class="reg-checkbox-label" for="aloneNo">
                  <input class="reg-checkbox" id="aloneNo" type="radio" name="alone" value="female"/><span>Почти всегда дома с собакой кто-то есть</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Собака имеет все необходимые вакцинации в соответствии с ветеринарными требованиями?</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="medicineYes">
                  <input class="reg-checkbox" id="medicineYes" type="radio" name="medicine" value="yes"/><span>Да</span>
                </label>
                <label class="reg-checkbox-label" for="medicineNo">
                  <input class="reg-checkbox" id="medicineNo" type="radio" name="medicine" value="no"/><span>Нет</span>
                </label>
                <label class="reg-checkbox-label" for="medicineMaybe">
                  <input class="reg-checkbox" id="medicineMaybe" type="radio" name="medicine" value="maybe"/><span>Не знаю точно</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <div class="more-btn text-center">
                <input class="more mybtn mybtn-orange reg-btn" type="submit" value="Завершить"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>