
<section class="search__panel" style="background: #fafafa">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="search__wrap">
          <h1 class="search__title">Найти догситтера</h1>
          <form class="search__form relative" action="">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4">
                <div class="search__column">
                  <label class="search__label">Где искать?</label>
                  <div class="search__input-wrap">
                    <select name="city">
                      <option selected="selected">Киев</option>
                      <option>Одесса</option>
                      <option>Львов</option>
                      <option>Харьков</option>
                      <option>Тернополь</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="search__column">
                  <label class="search__label">Даты передержки</label>
                  <div class="search__input-wrap">
                    <!--input(name="date" type="date" placeholder="text input")-->
                    <label class="search__label-date" for="dateFrom"><span>с</span>
                      <input id="dateFrom" type="text" name="dateFrom"/>
                    </label>
                    <label class="search__label-date" for="dateTo"><span>по</span>
                      <input id="dateTo" type="text" name="dateTo"/>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="search__column">
                  <label class="search__label" for="priceInput">Максимальная стоимость в сутки</label>
                  <div class="search__input-wrap-price">
                    <div class="priceRange" id="priceRange"></div>
                    <input class="priceInput" id="priceInput" type="text" readonly="readonly"/>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="search__column">
                  <label class="search__label">Кто у вас?</label>
                  <div class="search__input-wrap">
                    <label class="search__label-wrap" for="chooseCat">Собака
                      <input class="search__input search__input-type" id="chooseCat" name="type" type="radio" value="cats"/>
                    </label>
                    <label class="search__label-wrap" for="chooseDog">Кот
                      <input class="search__input search__input-type" id="chooseDog" name="type" type="radio" value="dogs"/>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="search__column">
                  <label class="search__label">Размер собаки</label>
                  <div class="search__input-wrap">
                    <label class="search__label-wrap" for="sizeBeforeFive">1-5 кг
                      <input class="search__input search__input-size" id="sizeBeforeFive" name="size" type="radio" value="5"/>
                    </label>
                    <label class="search__label-wrap" for="sizeFiveTen">5-10 кг
                      <input class="search__input search__input-size" id="sizeFiveTen" name="size" type="radio" value="10"/>
                    </label>
                    <label class="search__label-wrap" for="sizeTenTwenty">10-20 кг
                      <input class="search__input search__input-size" id="sizeTenTwenty" name="size" type="radio" value="10"/>
                    </label>
                    <label class="search__label-wrap" for="sizeAfterTwenty">20+ кг
                      <input class="search__input search__input-size" id="sizeAfterTwenty" name="size" type="radio" value="10"/>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="search__column">
                  <label class="search__label">Количество животных?</label>
                  <div class="search__input-wrap">
                    <label class="search__label-wrap" for="animalsAmountOne">1
                      <input class="search__input search__input-amount" id="animalsAmountOne" name="amount" type="radio" value="1"/>
                    </label>
                    <label class="search__label-wrap" for="animalsAmountTwo">2
                      <input class="search__input search__input-amount" id="animalsAmountTwo" name="amount" type="radio" value="2"/>
                    </label>
                    <label class="search__label-wrap" for="animalsAmountMore">3+
                      <input class="search__input search__input-amount" id="animalsAmountMore" name="amount" type="radio" value="3"/>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="search__column">
                  <div class="search__add-wrap"><a class="search__add-link" id="additionalSearch" href="#"><i class="fas fa-angle-down"></i><span>Расширенный поиск</span></a><a class="search__add-link" id="resetFilter" href="#"><span>Сбросить фильтр</span></a></div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="search__column search__column-toggle search__column-hide">
                  <label class="search__label">Возраст животного</label>
                  <div class="search__input-wrap">
                    <label class="search__label-wrap" for="ageBeforeYear">до 1 года
                      <input class="search__input search__input-age" id="ageBeforeYear" name="age" type="radio" value="1"/>
                    </label>
                    <label class="search__label-wrap" for="ageOneFive">1-5 лет
                      <input class="search__input search__input-age" id="ageOneFive" name="age" type="radio" value="5"/>
                    </label>
                    <label class="search__label-wrap" for="ageFiveTen">5-10 лет
                      <input class="search__input search__input-age" id="ageFiveTen" name="age" type="radio" value="5"/>
                    </label>
                    <label class="search__label-wrap" for="ageAfterTen">10+ лет
                      <input class="search__input search__input-age" id="ageAfterTen" name="age" type="radio" value="5"/>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="search__column search__column-toggle search__column-hide">
                  <label class="search__label">Животные ситтера</label>
                  <div class="search__input-wrap">
                    <label class="search__label-wrap" for="typeAnimalsCat">Собаки
                      <input class="search__input search__input-animals" id="typeAnimalsCat" name="animals" type="radio" value="cats"/>
                    </label>
                    <label class="search__label-wrap" for="typeAnimalsDog">Коты
                      <input class="search__input search__input-animals" id="typeAnimalsDog" name="animals" type="radio" value="dogs"/>
                    </label>
                    <label class="search__label-wrap" for="typeAnimalsAll">Собаки и коты
                      <input class="search__input search__input-animals" id="typeAnimalsAll" name="animals" type="radio" value="all"/>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="search__column search__column-toggle search__column-hide">
                  <label class="search__label">Специальные пожелания</label>
                  <div class="search__input-wrap">
                    <label class="search__label-wrap" for="propose1">Lorem ipsum dolor sit.
                      <input class="search__input search__input-add" id="propose1" name="add" type="checkbox" value="1"/>
                    </label>
                    <label class="search__label-wrap" for="propose2">Lorem ipsum dolor sit.
                      <input class="search__input search__input-add" id="propose2" name="add" type="checkbox" value="2"/>
                    </label>
                    <label class="search__label-wrap" for="propose3">Lorem ipsum dolor sit.
                      <input class="search__input search__input-add" id="propose3" name="add" type="checkbox" value="3"/>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-padding search__list">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-12">
        <div class="search-result-wrap card__comments">
          <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/150" alt="" title=""/>
            <div class="testimonials-wrap">
              <h4 class="custom-line testimonials-title">Pett Doe</h4>
              <p class="testimonials-text">Доверьтесь мне!</p>
              <div class="testimonials-quote">
                <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.</p>
              </div>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
          </div>
          <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/150" alt="" title=""/>
            <div class="testimonials-wrap">
              <h4 class="custom-line testimonials-title">Pett Doe</h4>
              <p class="testimonials-text">Доверьтесь мне!</p>
              <div class="testimonials-quote">
                <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.</p>
              </div>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
          </div>
          <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/150" alt="" title=""/>
            <div class="testimonials-wrap">
              <h4 class="custom-line testimonials-title">Pett Doe</h4>
              <p class="testimonials-text">Доверьтесь мне!</p>
              <div class="testimonials-quote">
                <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.</p>
              </div>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
          </div>
          <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/150" alt="" title=""/>
            <div class="testimonials-wrap">
              <h4 class="custom-line testimonials-title">Pett Doe</h4>
              <p class="testimonials-text">Доверьтесь мне!</p>
              <div class="testimonials-quote">
                <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.</p>
              </div>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
          </div>
          <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/150" alt="" title=""/>
            <div class="testimonials-wrap">
              <h4 class="custom-line testimonials-title">Pett Doe</h4>
              <p class="testimonials-text">Доверьтесь мне!</p>
              <div class="testimonials-quote">
                <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.</p>
              </div>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
          </div>
        </div>
        <div class="more-btn text-center"><a class="more mybtn mybtn-yellow" href="#">Показать больше</a></div>
      </div>
      <div class="col-md-4 d-sm-none d-md-block">
        <div class="sidebar sidebar__top">
          <div class="sidebar-item">
            <h2 class="sidebar__top-title text-center">Топовые догситтеры</h2>
            <div class="sidebar__user text-center"><img class="sidebar__user-img" src="https://via.placeholder.com/150x100" alt="user" title="user"/>
              <h4 class="sidebar__user-title">Елена</h4>
              <p class="sidebar__user-text user-price">1000 грн / сутки</p><a class="mybtn user-mybtn" href="#">Связаться</a>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
            <div class="sidebar__user text-center"><img class="sidebar__user-img" src="https://via.placeholder.com/150x100" alt="user" title="user"/>
              <h4 class="sidebar__user-title">Елена</h4>
              <p class="sidebar__user-text user-price">1000 грн / сутки</p><a class="mybtn user-mybtn" href="#">Связаться</a>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
            <div class="sidebar__user text-center"><img class="sidebar__user-img" src="https://via.placeholder.com/150x100" alt="user" title="user"/>
              <h4 class="sidebar__user-title">Елена</h4>
              <p class="sidebar__user-text user-price">1000 грн / сутки</p><a class="mybtn user-mybtn" href="#">Связаться</a>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
            <div class="sidebar__user text-center"><img class="sidebar__user-img" src="https://via.placeholder.com/150x100" alt="user" title="user"/>
              <h4 class="sidebar__user-title">Елена</h4>
              <p class="sidebar__user-text user-price">1000 грн / сутки</p><a class="mybtn user-mybtn" href="#">Связаться</a>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>