
<section class="card__user-panel" style="background: #f6e25d">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card__user-panel-wrap flex-container flex-side">
          <h1 class="card__user-panel-text">Name Surname</h1><img class="card__user-panel-avatar avatar" src="https://via.placeholder.com/100"/>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="card__user-info section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-12 order-md-0 order-sm-1">
        <div class="card-sitter-sliders">
          <div class="card-sitterMainSlider" id="sitterMainSlider">
            <div class="card-sitterMainSlider-item"><img class="card-sitterMainSlider-img" src="https://via.placeholder.com/721x400"/></div>
            <div class="card-sitterMainSlider-item"><img class="card-sitterMainSlider-img" src="https://via.placeholder.com/722x400"/></div>
            <div class="card-sitterMainSlider-item"><img class="card-sitterMainSlider-img" src="https://via.placeholder.com/723x400"/></div>
            <div class="card-sitterMainSlider-item"><img class="card-sitterMainSlider-img" src="https://via.placeholder.com/724x400"/></div>
            <div class="card-sitterMainSlider-item"><img class="card-sitterMainSlider-img" src="https://via.placeholder.com/725x400"/></div>
            <div class="card-sitterMainSlider-item"><img class="card-sitterMainSlider-img" src="https://via.placeholder.com/726x400"/></div>
          </div>
          <div class="card-sitterNavSlider" id="sitterNavSlider">
            <div class="card-sitterNavSlider-item"><img class="card-sitterNavSlider-img" src="https://via.placeholder.com/161x120"/></div>
            <div class="card-sitterNavSlider-item"><img class="card-sitterNavSlider-img" src="https://via.placeholder.com/162x120"/></div>
            <div class="card-sitterNavSlider-item"><img class="card-sitterNavSlider-img" src="https://via.placeholder.com/163x120"/></div>
            <div class="card-sitterNavSlider-item"><img class="card-sitterNavSlider-img" src="https://via.placeholder.com/164x120"/></div>
            <div class="card-sitterNavSlider-item"><img class="card-sitterNavSlider-img" src="https://via.placeholder.com/165x120"/></div>
            <div class="card-sitterNavSlider-item"><img class="card-sitterNavSlider-img" src="https://via.placeholder.com/166x120"/></div>
          </div>
        </div>
        <div class="card-sitter-info">
          <h2 class="card-sitter-info__title custom-line">Описание</h2>
          <p class="card-sitter-info__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum eos eveniet in mollitia, necessitatibus nemo praesentium quae qui recusandae sit ut! Commodi dolore dolorem dolorum maxime porro, reprehenderit voluptates?</p>
          <p class="card-sitter-info__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum eos eveniet in mollitia, necessitatibus nemo praesentium quae qui recusandae sit ut! Commodi dolore dolorem dolorum maxime porro, reprehenderit voluptates?</p>
          <p class="card-sitter-info__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum eos eveniet in mollitia, necessitatibus nemo praesentium quae qui recusandae sit ut! Commodi dolore dolorem dolorum maxime porro, reprehenderit voluptates?</p>
          <p class="card-sitter-info__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum eos eveniet in mollitia, necessitatibus nemo praesentium quae qui recusandae sit ut! Commodi dolore dolorem dolorum maxime porro, reprehenderit voluptates?</p>
          <p class="card-sitter-info__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorum eos eveniet in mollitia, necessitatibus nemo praesentium quae qui recusandae sit ut! Commodi dolore dolorem dolorum maxime porro, reprehenderit voluptates?</p>
        </div>
        <div class="card-sitter__achives">
          <div class="row">
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 text-center"><img class="card__dogs-img" src="https://via.placeholder.com/350x240"/>
              <div class="card__dogs-wrap">
                <h4 class="card__dogs-title">Достижение 1</h4>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 text-center"><img class="card__dogs-img" src="https://via.placeholder.com/350x240"/>
              <div class="card__dogs-wrap">
                <h4 class="card__dogs-title">Достижение 2</h4>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 text-center"><img class="card__dogs-img" src="https://via.placeholder.com/350x240"/>
              <div class="card__dogs-wrap">
                <h4 class="card__dogs-title">Достижение 3</h4>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 text-center"><img class="card__dogs-img" src="https://via.placeholder.com/350x240"/>
              <div class="card__dogs-wrap">
                <h4 class="card__dogs-title">Достижение 4</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-12">
        <div class="sidebar">
          <div class="sidebar__user sidebar-item text-center"><img class="sidebar__user-img" src="https://via.placeholder.com/300x200" alt="user" title="user"/>
            <h4 class="sidebar__user-title">Елена</h4>
            <p class="sidebar__user-text user-age">28 лет</p>
            <p class="sidebar__user-text user-price">1000 грн / сутки</p><a class="mybtn user-mybtn" href="#">Связаться</a>
            <p class="sidebar__user-text user-address">метро Академгородок</p>
            <p class="sidebar__user-text">Средняя оценка:</p>
            <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            <div class="row">
              <div class="col-6 col-sm-6">
                <p class="text-center sidebar__user-text user-orders"><b>Заказов: </b> 288</p>
              </div>
              <div class="col-6 col-sm-6">
                <p class="text-center sidebar__user-text user-orders"><b>Отзывов: </b> 30</p>
              </div>
            </div>
          </div>
          <div class="sidebar__veri sidebar-item">
            <div class="sidebar__veri-title-wrap text-center">
              <p class="sidebar__veri-title">Верифицирован</p>
              <p class="sidebar__veri-text veri-date">23 января 2016г.</p>
            </div>
            <p class="sidebar__veri-list-title text-center">Что это значит?</p>
            <ul class="sidebar__veri-list">
              <li class="sidebar__veri-list-item"><span>Lorem ipsum dolor 1</span></li>
              <li class="sidebar__veri-list-item"><span>Lorem ipsum dolor 2</span></li>
              <li class="sidebar__veri-list-item"><span>Lorem ipsum dolor 3</span></li>
              <li class="sidebar__veri-list-item"><span>Lorem ipsum dolor 4</span></li>
            </ul>
          </div>
          <div class="sidebar__date sidebar-item">
            <p>Календарь</p>
            <p>Календарь</p>
            <p>Календарь</p>
            <p>Календарь</p>
            <p>Календарь</p>
          </div>
          <div class="sidebar__add sidebar-item">
            <p class="sidebar__add-list-title">Дополнительные услуги
              <ul class="sidebar__add-list">
                <li class="sidebar__add-list-item"><span>Lorem ipsum dolor 1</span></li>
                <li class="sidebar__add-list-item"><span>Lorem ipsum dolor 2</span></li>
                <li class="sidebar__add-list-item"><span>Lorem ipsum dolor 3</span></li>
                <li class="sidebar__add-list-item"><span>Lorem ipsum dolor 4</span></li>
                <li class="sidebar__add-list-item"><span>Lorem ipsum dolor 5</span></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="card__map">
  <div id="map" style="background: #f6e25d">
    <p>map</p>
  </div>
</section>
<section class="card__user-info-second section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading flex-container">
          <h2 class="heading-title custom-line">Детали</h2>
          <p class="heading-text">Your small contribution make a huge difference and encourage us to continue our works of success. Your small contribution make a huge difference and encourage us to continue our works of success.</p>
        </div>
      </div>
      <div class="col-12">
        <div class="card__detail">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card__detail-wrap">
                <p class="card__detail-heading">Стоимость передержки:</p>
                <p class="card__detail-text">600 грн/сутки</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card__detail-wrap">
                <p class="card__detail-heading">Опыт ухода за собакой:</p>
                <p class="card__detail-text">15 лет</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card__detail-wrap">
                <p class="card__detail-heading">Тип жилья:</p>
                <p class="card__detail-text">Квартира</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card__detail-wrap">
                <p class="card__detail-heading">Наличие транспорта:</p>
                <p class="card__detail-text">Нет</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card__detail-wrap">
                <p class="card__detail-heading">Принимаемый размер собак:</p>
                <p class="card__detail-text">До 30 кг</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card__detail-wrap">
                <p class="card__detail-heading">Принимаемый возраст собак:</p>
                <p class="card__detail-text">Все</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card__detail-wrap">
                <p class="card__detail-heading">Принимает кошек:</p>
                <p class="card__detail-text">Нет</p>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card__detail-wrap">
                <p class="card__detail-heading">Животные догситтера:</p>
                <p class="card__detail-text">Собаки</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="heading flex-container">
          <h2 class="heading-title custom-line">Собаки догситтера</h2>
          <p class="heading-text">Your small contribution make a huge difference and encourage us to continue our works of success. Your small contribution make a huge difference and encourage us to continue our works of success.</p>
        </div>
      </div>
      <div class="col-12">
        <div class="card__dogs">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-4"><img class="card__dogs-img" src="https://via.placeholder.com/350x240"/>
              <div class="card__dogs-wrap transition-slow">
                <h4 class="card__dogs-title custom-line">Schweppes</h4>
                <div class="card__dogs-main">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <p class="card__dogs-text"><b>Имя: </b> Schweppes</p>
                    </div>
                    <div class="col-12 col-sm-6">
                      <p class="card__dogs-text"><b>Порода: </b> Цвергшнауцер</p>
                    </div>
                    <div class="col-12 col-sm-6">
                      <p class="card__dogs-text"><b>Возраст: </b> 2 года</p>
                    </div>
                    <div class="col-12 col-sm-6">
                      <p class="card__dogs-text"><b>Пол: </b> девочка</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="card__dogs-text"><b>Описание: </b></p>
                    <p class="card__dogs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus blanditiis eum illum labore neque quae, repudiandae. Adipisci, blanditiis provident!</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p class="card__dogs-text"><b>Имя: </b> Schweppes</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p class="card__dogs-text"><b>Порода: </b> Цвергшнауцер</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p class="card__dogs-text"><b>Возраст: </b> 2 года</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p class="card__dogs-text"><b>Пол: </b> девочка</p>
                  </div>
                  <p class="more">Подробнее</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4"><img class="card__dogs-img" src="https://via.placeholder.com/350x240"/>
              <div class="card__dogs-wrap transition-slow">
                <h4 class="card__dogs-title custom-line">Кейт</h4>
                <div class="card__dogs-main">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <p class="card__dogs-text"><b>Имя: </b> Кейт</p>
                    </div>
                    <div class="col-12 col-sm-6">
                      <p class="card__dogs-text"><b>Порода: </b> Цвергшнауцер</p>
                    </div>
                    <div class="col-12 col-sm-6">
                      <p class="card__dogs-text"><b>Возраст: </b> 2 года</p>
                    </div>
                    <div class="col-12 col-sm-6">
                      <p class="card__dogs-text"><b>Пол: </b> девочка</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="card__dogs-text"><b>Описание: </b></p>
                    <p class="card__dogs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus blanditiis eum illum labore neque quae, repudiandae. Adipisci, blanditiis provident!</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p class="card__dogs-text"><b>Имя: </b> Кейт</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p class="card__dogs-text"><b>Пол: </b> девочка</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p class="card__dogs-text"><b>Возраст: </b> 3 года</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p class="card__dogs-text"><b>Порода: </b> Цвергшнауцер</p>
                  </div>
                  <p class="more">Подробнее</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-4"><img class="card__dogs-img" src="https://via.placeholder.com/350x240"/>
              <div class="card__dogs-wrap transition-slow">
                <h4 class="card__dogs-title custom-line">Кристофор</h4>
                <div class="card__dogs-main">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <p class="card__dogs-text"><b>Имя: </b> Кристофор</p>
                    </div>
                    <div class="col-12 col-sm-6">
                      <p class="card__dogs-text"><b>Порода: </b> Цвергшнауцер</p>
                    </div>
                    <div class="col-12 col-sm-6">
                      <p class="card__dogs-text"><b>Возраст: </b> 4 года</p>
                    </div>
                    <div class="col-12 col-sm-6">
                      <p class="card__dogs-text"><b>Пол: </b> мальчик</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p class="card__dogs-text"><b>Описание: </b></p>
                    <p class="card__dogs-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus blanditiis eum illum labore neque quae, repudiandae. Adipisci, blanditiis provident!</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p class="card__dogs-text"><b>Имя: </b> Schweppes</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p class="card__dogs-text"><b>Пол: </b> девочка</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p class="card__dogs-text"><b>Возраст: </b> 2 года</p>
                  </div>
                  <div class="col-12 col-sm-6">
                    <p class="card__dogs-text"><b>Порода: </b> Цвергшнауцер</p>
                  </div>
                  <p class="more">Подробнее</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="heading flex-container">
          <h2 class="heading-title custom-line">Отзывы о догситтере</h2>
          <p class="heading-text">Your small contribution make a huge difference and encourage us to continue our works of success. Your small contribution make a huge difference and encourage us to continue our works of success.</p>
        </div>
      </div>
      <div class="col-12">
        <div class="card__comments">
          <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/80" alt="" title=""/>
            <div class="testimonials-wrap">
              <h4 class="custom-line testimonials-title">Pett Doe</h4>
              <p class="testimonials-text">Декабрь 2019</p>
              <div class="testimonials-quote">
                <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.</p>
              </div>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
          </div>
          <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/80" alt="" title=""/>
            <div class="testimonials-wrap">
              <h4 class="custom-line testimonials-title">Pett Doe</h4>
              <p class="testimonials-text">Декабрь 2019</p>
              <div class="testimonials-quote">
                <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.</p>
              </div>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
          </div>
          <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/80" alt="" title=""/>
            <div class="testimonials-wrap">
              <h4 class="custom-line testimonials-title">Pett Doe</h4>
              <p class="testimonials-text">Декабрь 2019</p>
              <div class="testimonials-quote">
                <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.</p>
              </div>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
          </div>
          <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/80" alt="" title=""/>
            <div class="testimonials-wrap">
              <h4 class="custom-line testimonials-title">Pett Doe</h4>
              <p class="testimonials-text">Декабрь 2019</p>
              <div class="testimonials-quote">
                <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.</p>
              </div>
              <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="more-btn text-center"><a class="more mybtn mybtn-yellow" href="#">Показать больше</a></div>
      </div>
    </div>
  </div>
</section>