
<div class="mybtn" data-target="#confirmChoose" data-toggle="modal">Confirm choose</div>
<div class="modal fade" id="confirmChoose">
  <div class="flex-container flex-center">
    <div class="modal-block">
      <div class="modal-close-wrapper flex-container flex-center">
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <h3 class="title modal-title confirm-title">Confirm your choose</h3>
      <div class="modal-footer flex-container flex-center"><a class="mybtn">Delete</a><a class="mybtn cancel" data-dismiss="modal">Cancel</a></div>
    </div>
  </div>
</div>