
<section class="section-padding profile">
  <div class="container">
    <div class="profile__header"> 
      <div class="profile__menu-wrapper">
        <ul class="profile__menu">
          <li class="profile__menu-item"><a class="profile__menu-link transition" href="cabinet-notification.html">Уведомления</a></li>
          <li class="profile__menu-item"><a class="profile__menu-link transition" href="cabinet-messages.html">Заказы</a></li>
          <li class="profile__menu-item"><a class="profile__menu-link transition" href="cabinet-calendar.html">Календарь</a></li>
          <li class="profile__menu-item"><a class="profile__menu-link transition" href="cabinet-profile.html">Профиль</a></li>
          <li class="profile__menu-item"><a class="profile__menu-link transition active" href="cabinet-materials.html">Полезные материалы</a></li>
        </ul>
      </div><a class="profile__user-header-wrapper" href="./">
        <p>Denys Yatsko</p><img class="rounded-circle ml-3" src="https://via.placeholder.com/28" alt="user" title="user"/></a>
    </div>
    <p>materials</p>
  </div>
</section>