
<section class="section-padding profile">
  <div class="container">
    <div class="profile__header"> 
      <div class="profile__menu-wrapper">
        <ul class="profile__menu">
          <li class="profile__menu-item"><a class="profile__menu-link transition" href="cabinet-notification.html">Уведомления</a></li>
          <li class="profile__menu-item"><a class="profile__menu-link transition active" href="cabinet-messages.html">Заказы</a></li>
          <li class="profile__menu-item"><a class="profile__menu-link transition" href="cabinet-calendar.html">Календарь</a></li>
          <li class="profile__menu-item"><a class="profile__menu-link transition" href="cabinet-profile.html">Профиль</a></li>
          <li class="profile__menu-item"><a class="profile__menu-link transition" href="cabinet-materials.html">Полезные материалы</a></li>
        </ul>
      </div><a class="profile__user-header-wrapper" href="./">
        <p>Denys Yatsko</p><img class="rounded-circle ml-3" src="https://via.placeholder.com/28" alt="user" title="user"/></a>
    </div>
    <div class="profile__messages-layout">
      <div class="profile__messages-left-col"> <a href="#"><img class="rounded-circle mr-3" src="https://via.placeholder.com/28"/>
          <p class="text-medium">Admin</p></a></div>
      <div class="profile__messages-right-col"> 
        <div class="profile__message-header text-medium">Admin</div>
        <div class="profile__message-area">
          <div class="profile__message in"><img class="rounded-circle" src="https://via.placeholder.com/28"/>
            <div class="profile__message-content color-yellow">
              <p>Добрый день, Denis! Это чат с администраторами Догси. Мы будем рады вам помочь. Мы отвечаем с 9:00 до 22:45 ежедневно. Обращаем ваше внимание, что по экстренным вопросам мы доступны по телефону круглосуточно. По вопросам, не связанными с экстренными ситуациями, напишите нам в чате.</p>
            </div><span class="profile__message-time">3 дня</span>
          </div>
          <div class="profile__message out"><img class="rounded-circle" src="https://via.placeholder.com/28"/>
            <div class="profile__message-content color-orange">
              <p>Добрый день!</p>
            </div><span class="profile__message-time">3 дня</span>
          </div>
          <div class="profile__message in"><img class="rounded-circle" src="https://via.placeholder.com/28"/>
            <div class="profile__message-content color-yellow">
              <p> Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Журчит коварный запятых текста! Щеке языком гор всемогущая лучше. Безорфографичный.</p>
            </div><span class="profile__message-time">3 дня</span>
          </div>
          <div class="profile__message in"><img class="rounded-circle" src="https://via.placeholder.com/28"/>
            <div class="profile__message-content color-yellow">
              <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Реторический они образ переписывается подзаголовок, всемогущая которое ты текст, однажды сбить, рукопись жаренные рыбными.</p>
            </div><span class="profile__message-time">3 дня</span>
          </div>
          <div class="profile__message out"><img class="rounded-circle" src="https://via.placeholder.com/28"/>
            <div class="profile__message-content color-orange">
              <p> Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись осталось жаренные лучше. Дорогу своего строчка, на берегу вдали, пустился рукописи? Своих над языком рукопись оксмокс безорфографичный не текстов, несколько, всемогущая сбить но назад осталось, рукописи грустный свою послушавшись.</p>
            </div>
          </div>
        </div>
        <div class="profile__message-footer">
          <form class="send-message" id="send-message" action="#">
            <div class="d-flex align-items-end">
              <div class="profile__send-textarea-wrapper">
                <div class="profile__send-file send-file-btn-wrapper">
                  <input type="file" accept="image/jpeg,image/png"/>
                  <div class="profile__send-file-icon"><i class="fas fa-camera"></i></div>
                </div>
                <textarea class="send-textarea js-autoheight" type="text" name="send-message" placeholder="Текст сообщения..."></textarea>
              </div>
              <button class="profile__send-message-btn" type="submit"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>