
<section class="section-padding profile">
  <div class="container">
    <div class="profile__header"> 
      <div class="profile__menu-wrapper">
        <ul class="profile__menu">
          <li class="profile__menu-item"><a class="profile__menu-link transition active" href="cabinet-notification.html">Уведомления</a></li>
          <li class="profile__menu-item"><a class="profile__menu-link transition" href="cabinet-messages.html">Заказы</a></li>
          <li class="profile__menu-item"><a class="profile__menu-link transition" href="cabinet-calendar.html">Календарь</a></li>
          <li class="profile__menu-item"><a class="profile__menu-link transition" href="cabinet-profile.html">Профиль</a></li>
          <li class="profile__menu-item"><a class="profile__menu-link transition" href="cabinet-materials.html">Полезные материалы</a></li>
        </ul>
      </div><a class="profile__user-header-wrapper" href="./">
        <p>Denys Yatsko</p><img class="rounded-circle ml-3" src="https://via.placeholder.com/28" alt="user" title="user"/></a>
    </div>
    <div class="profile__notification-box big-box">
      <h5>Ваша анкета на рассмотрении</h5>
      <p>Ваша анкета принята на рассмотрение. Мы свяжемся с вами, как только рассмотрим ее. Если у вас есть вопрос, свяжитесь с нами <a href="#">любым удобным способом</a></p>
    </div>
    <div class="profile__notification-box big-box center">
      <div class="mb20">
        <h4>Подтвердите вашу личность</h4><span>Шаг 1 из 2</span>
      </div>
      <div class="mb20">
        <p>Вы не можете откликаться на заказы без подтверждения личности и дополнительных данных.</p>
      </div>
      <form class="passport-form" id="passport-form" action="#">
        <div class="profile__row">
          <div class="col-md-5">
            <label class="reg-label"><span>Имя</span></label>
          </div>
          <div class="col-md-7">
            <input class="reg-input" type="text" name="name" placeholder="Имя"/>
          </div>
        </div>
        <div class="profile__row">
          <div class="col-md-5">
            <label class="reg-label"><span>Фамилия</span></label>
          </div>
          <div class="col-md-7">
            <input class="reg-input" type="text" name="surname" placeholder="Фамилия"/>
          </div>
        </div>
        <div class="profile__row">
          <div class="col-md-5">
            <label class="reg-label"><span>Отчество</span></label>
          </div>
          <div class="col-md-7">
            <input class="reg-input" type="text" name="middle_name" placeholder="Отчество"/>
          </div>
        </div>
        <div class="profile__row">
          <div class="col-md-5">
            <label class="reg-label"><span>Дата рождения</span></label>
          </div>
          <div class="col-md-7">
            <input class="reg-input" type="text" name="date" placeholder="Дата рождения" id="birthday"/>
          </div>
        </div>
        <div class="profile__row">
          <div class="col-md-5">
            <label class="reg-label"><span>Место рождения</span></label>
          </div>
          <div class="col-md-7">
            <input class="reg-input" type="text" name="city" placeholder="Место рождения"/>
          </div>
        </div>
        <div class="profile__row">
          <div class="col-md-5">
            <label class="reg-label justify-content-start"><span>Адрес регистрации</span></label>
          </div>
          <div class="col-md-7">
            <textarea class="reg-textarea" type="text" name="residence" placeholder="Стр. 5 в паспорте"></textarea>
          </div>
        </div>
        <div class="profile__row">
          <div class="col-md-5">
            <label class="reg-label"><span>Серия и номер паспорта</span></label>
          </div>
          <div class="col-md-7">
            <input class="reg-input" type="text" name="series" placeholder="AA-000000" maxlength="8" id="series"/>
          </div>
        </div>
        <div class="profile__row">
          <div class="col-md-5">
            <label class="reg-label"><span>Дата выдачи</span></label>
          </div>
          <div class="col-md-7">
            <input class="reg-input" type="text" name="issue_date" placeholder="Дата выдачи" maxlength="8" id="issue_date"/>
          </div>
        </div>
        <div class="profile__row">
          <div class="col-md-5">
            <label class="reg-label"><span>Кем выдан</span></label>
          </div>
          <div class="col-md-7">
            <input class="reg-input" type="text" name="issue_date" placeholder="Кем выдан"/>
          </div>
        </div>
        <div class="col-12">
          <div class="more-btn text-center">
            <input class="more mybtn mybtn-orange reg-btn" type="submit" value="Продолжить"/>
          </div>
        </div>
      </form>
    </div>
    <div class="profile__notification-box big-box">
      <div class="mb20 center">
        <h4>Подтвердите вашу личность</h4><span>Шаг 2 из 2</span>
      </div>
      <p class="mb20">Для подтверждения личности загрузите фотографии или сканы следующих документов:</p>
      <ul class="custom-list mb20">
        <li><span>Первый разворот паспорта (т.е. страницы с фотографией и местом выдачи)</span></li>
        <li><span>Страница паспорта, где указан адрес вашей постоянной регистрации по месту жительства</span></li>
        <li><span>Также необходимо загрузить вашу фотографию с паспортом в руках в развернутом виде. Паспорт должен быть на фоне листа бумаги с надписью от руки "Dogsy" и текущей датой, в точности как <a href="#" class="link" data-toggle="modal" data-target="#modal-gallery">показано в примере.</a> Зачем это нужно? Так мы поймем, что это действительно вы, а не кто-то другой хочет стать догситтером по вашему паспорту.</span></li>
      </ul>
      <p class="text-thin">ООО «Догси.ру» является зарегистрированным оператором, осуществляющим сбор персональных данных пользователей.</p>
      <div class="more-btn text-center">
        <button class="more mybtn mybtn-orange reg-btn send-file-btn-wrapper">Загрузить фото документов
          <input type="file" accept="image/jpeg,image/png"/>
        </button>
      </div>
    </div>
    <div class="profile__notification-box big-box">
      <div class="center mb20">
        <h4>Информация на случай экстренных ситуаций</h4><span>(не отображается на сайте)</span>
      </div>
      <form action="#">
        <div class="profile__col">
          <label>Дополнительный контакт, если ваш телефон не отвечает длительное время, а у вас на передержке находится животное клиента. Это может быть родственник или друг:</label>
          <input class="reg-input" type="text" name="additional_phone" placeholder="Александр, друг, 8-900-000-00-00"/>
        </div>
        <div class="profile__col">
          <label>Адрес фактического содержания животных (с точностью до квартиры):</label>
          <input class="reg-input" type="text" name="actual_address" placeholder="Киев, ул. Борщаговская, 146, кв. 37"/>
        </div>
        <div class="col-12">
          <div class="more-btn text-center">
            <input class="more mybtn mybtn-orange reg-btn" type="submit" value="Отправить"/>
          </div>
        </div>
      </form>
    </div>
    <div class="profile__notification-box big-box">
      <h5>Ознакомьтесь с инструкцией Догситтера</h5>
      <p>Чтобы брать собак на передержку необходимо прочитать нашу инструкцию Догситтера и пройти простое тестирование по ней. Ссылка на тест находится в конце инструкции. <a href="#" class="link">Перейти к инструкции</a> </p>
    </div>
    <div class="profile__notification-box big-box">
      <div class="profile__pay-wraper mb20">
        <h3 class="no-margin">К оплате: 0 UAH</h3>
      </div>
      <p>Dogsy взимает комиссию в размере 20% от суммы заказа. Счет на оплату выставляется в первый день передержки.</p>
      <p><b>Быстрая оплата – больше заказов</b><br>Необходимо оплачивать комиссию в первый день передержки, после получения денег от клиента. Быстрая оплата заказа влияет на ваш рейтинг на сайте.</p>
    </div>
  </div>
</section>
<div class="modal fade modal-gallery" id="modal-gallery" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-body">
      <form class="modal-content" action="#">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title-wrap"><img src="https://via.placeholder.com/550"/></div>
      </form>
    </div>
  </div>
</div>