
<main class="main">
  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h1 class="title-blue">title H1</h1>
          <h2 class="title-blue custom-line">title H2</h2>
          <h3 class="title-blue">title H3</h3>
          <h4 class="title-blue custom-line">title H4</h4>
          <h5 class="title-blue">title H5</h5>
          <h6 class="title-blue custom-line">title H6</h6>
        </div>
        <div class="col-4">
          <h1 class="custom-line">title H1</h1>
          <h2>title H2</h2>
          <h3 class="custom-line">title H3</h3>
          <h4>title H4</h4>
          <h5 class="custom-line">title H5</h5>
          <h6>title H6</h6>
        </div>
        <div class="col-4">
          <div class="mybtn__wrap"><a class="mybtn transition" href="#">simple btn</a></div>
          <div class="mybtn__wrap center"><a class="mybtn transition" href="#">simple btn</a></div>
          <div class="mybtn__wrap right"><a class="mybtn transition" href="#">simple btn</a></div>
          <div class="mybtn__wrap"><a class="mybtn mybtn-yellow transition" href="#">ylw btn</a></div>
          <div class="mybtn__wrap center"><a class="mybtn mybtn-yellow transition" href="#">ylw btn</a></div>
          <div class="mybtn__wrap right"><a class="mybtn mybtn-yellow transition" href="#">ylw btn</a></div>
        </div>
        <div class="col-4">
          <p class="text-thin">Some text thin...</p>
          <p class="text-thin center">Some text thin...</p>
          <p class="text-thin right">Some text thin...</p>
          <p>Some text regular...</p>
          <p class="center">Some text regular...</p>
          <p class="right">Some text regular...</p>
          <p class="text-medium">Some text medium...</p>
          <p class="text-medium center">Some text medium...</p>
          <p class="text-medium right">Some text medium...</p>
          <p class="text-semibold">Some text semibold...</p>
          <p class="text-semibold center">Some text semibold...</p>
          <p class="text-semibold right">Some text semibold...</p>
          <p class="text-bold">Some text bold...</p>
          <p class="text-bold center">Some text bold...</p>
          <p class="text-bold right">Some text bold...</p>
        </div>
        <div class="col-4">
          <h1 class="title-blue"> Colors we use:</h1>
          <section class="center color-main">main</section>
          <section class="center color-second">second</section>
          <section class="center color-blue">blue</section>
          <section class="center color-black">black</section>
          <section class="center color-yellow">yellow</section>
          <section class="center color-orange">orange</section>
          <section class="center color-middleGrey">middleGrey</section>
          <section class="center color-lightGrey">lightGrey</section>
          <section class="center color-link">link</section>
          <section class="center color-muted">muted</section>
          <section class="center color-footerBlack">footerBlack</section>
          <section class="center color-footerText">footerText</section>
        </div>
        <div class="col-4">
          <h4 class="text-font-main text-thin">Main Font 'Fira Sans' thin</h4>
          <h4 class="text-font-main text-regular">Main Font 'Fira Sans' regular</h4>
          <h4 class="text-font-main text-medium">Main Font 'Fira Sans' medium</h4>
          <h4 class="text-font-main text-semibold">Main Font 'Fira Sans' semibold</h4>
          <h4 class="text-font-main text-bold">Main Font 'Fira Sans' bold</h4><br/>
          <h4 class="text-font-second text-thin">Main Font 'Oswald' thin</h4>
          <h4 class="text-font-second text-regular">Main Font 'Oswald' regular</h4>
          <h4 class="text-font-second text-semibold">Main Font 'Oswald' semibold</h4>
          <h4 class="text-font-second text-bold">Main Font 'Oswald' bold</h4>
        </div>
      </div>
    </div>
  </section>
</main>