<br/><br/>
<section class="section-padding who recent-events">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading flex-container">
          <h2 class="heading-title custom-line">Недавние события</h2>
          <p class="heading-text">To rasie awarness among people and save the homless animals we annouce some big events that help the animals.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-6"></div>
    </div>
    <div class="row">
      <div class="row-item col-4">
        <div class="pet-thumb"><img class="img-responsive" src="http://codepassenger.com/html/anima/anima/images/animal-thumbs/cat-5.jpg" alt="" title=""/>
          <div class="event-timing" id="event-1">
            <ul>
              <li>
                <div>
                  <p class="number">0<br></p>
                  <p class="time">days</p>
                </div>
              </li>
              <li>
                <div>
                  <p class="number">00<br></p>
                  <p class="time">hours</p>
                </div>
              </li>
              <li>
                <div>
                  <p class="number">00<br></p>
                  <p class="time">minutes</p>
                </div>
              </li>
              <li>
                <div>
                  <p class="number">00<br></p>
                  <p class="time">seconds</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row-item col-4">
        <div class="pet-thumb"><img class="img-responsive" src="http://codepassenger.com/html/anima/anima/images/animal-thumbs/par-1.jpg" alt="" title=""/>
          <div class="event-timing" id="event-2">
            <ul>
              <li>
                <div>
                  <p class="number">0<br></p>
                  <p class="time">days</p>
                </div>
              </li>
              <li>
                <div>
                  <p class="number">00<br></p>
                  <p class="time">hours</p>
                </div>
              </li>
              <li>
                <div>
                  <p class="number">00<br></p>
                  <p class="time">minutes</p>
                </div>
              </li>
              <li>
                <div>
                  <p class="number">00<br></p>
                  <p class="time">seconds</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row-item col-4">
        <div class="pet-thumb"><img class="img-responsive" src="http://codepassenger.com/html/anima/anima/images/animal-thumbs/dog-4.jpg" alt="" title=""/>
          <div class="event-timing" id="event-3">
            <ul>
              <li>
                <div>
                  <p class="number">0<br></p>
                  <p class="time">days</p>
                </div>
              </li>
              <li>
                <div>
                  <p class="number">00<br></p>
                  <p class="time">hours</p>
                </div>
              </li>
              <li>
                <div>
                  <p class="number">00<br></p>
                  <p class="time">minutes</p>
                </div>
              </li>
              <li>
                <div>
                  <p class="number">00<br></p>
                  <p class="time">seconds</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>