
<section class="section-padding reg-sitter">
  <div class="container">
    <div class="big-box">
      <form class="reg-form" id="regSitterStepFirst" action="#">
        <div class="reg-form-wrap">
          <h1 class="reg-title text-center">Расскажите о себе, чтобы клиенты знали, с кем будет их собака</h1>
          <div class="row">
            <div class="col-sm-12 col-md-7">
              <div class="reg-sitter__column">
                <div class="reg-sitter__label-wrap">
                  <label class="reg-label"><span>Ваше имя</span>
                    <input class="reg-input" type="text" name="name" placeholder="Ваше имя"/>
                  </label>
                </div>
                <div class="reg-sitter__label-wrap">
                  <label class="reg-label"><span>Ваша фамилия</span>
                    <input class="reg-input" type="text" name="surname" placeholder="Ваша фамилия"/>
                  </label>
                </div>
                <div class="reg-sitter__label-wrap">
                  <label class="reg-label"><span>Мобильный телефон</span>
                    <input class="reg-input" type="tel" name="phone" placeholder="Мобильный телефон"/>
                  </label>
                </div>
                <div class="reg-sitter__label-wrap">
                  <label class="reg-label"><span>Ваш город</span>
                    <input class="reg-input" type="text" name="city" placeholder="Ваш город"/>
                  </label>
                </div>
                <div class="reg-sitter__label-wrap">
                  <label class="reg-label"><span>Дата рождения</span>
                    <input class="reg-input" type="text" name="date" placeholder="Дата рождения"/>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-5">
              <div class="reg-sitter__column">
                <div class="reg-sitter__img-wrap"><img class="reg-sitter__img" src="https://via.placeholder.com/150"/></div>
                <div class="reg-sitter__btn text-center">
                  <label class="more mybtn mybtn-orange reg-btn" for="dogsPhotos">
                    <input id="dogsPhotos" type="file" name="dogsPhotos"/><span>Добавить фотографии</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="more-btn text-center">
                <input class="more mybtn mybtn-orange reg-btn" type="submit" value="Завершить"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="big-box">
      <form class="reg-form" id="regSitterStepSecond" action="#">
        <div class="reg-form-wrap">
          <h1 class="reg-title text-center">Стоимость передержки</h1>
          <div class="row">
            <div class="col-12">
              <div class="reg-sitter__column">
                <div class="reg-sitter__label-wrap">
                  <label class="reg-label reg-sitter__label-center">
                    <input class="reg-input" type="number" name="amount" placeholder="400 грн"/><span>грн в сутки</span>
                  </label>
                </div>
                <div class="reg-sitter__text">
                  <p>Вы получаете 80% от итоговой суммы заказа, комиссия Догси составляет 20%. Эти деньги идут на улучшение сайта и мобильных приложений, обеспечение работы службы поддержки и на рекламу, чтобы вы получали новые заказы.</p>
                  <blockquote>Обычно передержка длится около 9 суток, поэтому в среднем за заказ вы будете получать:
                    <p>400 грн</p>
                  </blockquote>
                  <h4>Что такое передержка?</h4>
                  <p>Вы берете собаку клиента в свой дом на время пока клиент в отъезде, кормите и гуляете с ней, как со своей собакой.</p>
                  <h4>Не знаете какую цену поставить?</h4>
                  <p>Минимальные цены начинаются от 200 руб в сутки (от 350 руб для Москвы). Однако цены догситтеров индивидуальны и могут быть выше. Клиент принимает решение, сопоставляя вас с другими вариантами в вашем городе.</p>
                  <p>Привлекательность вашей анкеты складывается из цены, опыта ухода за собаками, условий содержания животных, удобства расположения, доверия и наличия отзывов, и общим впечатлением о вас.</p>
                  <p>Корм оплачивается отдельно или привозится хозяином.</p>
                  <p>Вы можете поменять цену в любой момент.</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="more-btn text-center">
                <input class="more mybtn mybtn-orange reg-btn" type="submit" value="Завершить"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="big-box">
      <form class="reg-form" id="regSitterStepThird" action="#">
        <div class="reg-form-wrap">
          <h1 class="reg-title text-center">Детали объявления</h1>
          <p class="reg-sitter__subtitle text-center">Решиться оставить собаку с незнакомым человеком сложно. Подробная анкета — доверие клиентов!</p>
          <div class="row">
            <div class="col-6 col-sm-5 reg-column">
              <label class="reg-label">Заголовок<span class="reg-label-text">Например: «Позабочусь о вашем любимце!»</span></label>
            </div>
            <div class="col-6 col-sm-7 reg-column">
              <div class="reg-input-wrap">
                <input class="reg-input" type="text" name="name"/>
              </div>
            </div>
            <div class="col-6 col-sm-5 reg-column">
              <label class="reg-label">Текст объявления<span class="reg-label-text">Расскажите о себе, вашем опыте и условиях проживания собаки. <b>Минимум один абзац.</b></span></label>
            </div>
            <div class="col-6 col-sm-7 reg-column">
              <div class="reg-input-wrap">
                <textarea class="reg-textarea" name="name"></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="reg-sitter__text">
                <h4>Адрес передержки <a href="#" id="setAddress" class="reg-sitter__text-link" data-toggle="modal" data-target="#setAddressModal">(указать адрес)</a></h4>
                <p>Ваш точный адрес будет скрыт на сайте. Клиенты увидят только ваш район или случайно смещенную точку на карте, пока вы не согласитесь взять их заказ.</p>
                <h4>Добавьте фотографии – Самый важный раздел!</h4>
                <ul>
                  <li><b>Ваши позитивные фото,</b> фото мест прогулок и фото с животными, если есть. Пример фотографий одного из догситтеров – dogsy.ru/sitter/136</li>
                  <li><b>Крайне желательно</b> загрузить хотя бы одну фотографию, где видна ваша квартира, то есть условия проживания. Зачем это?</li>
                  <li><b>Минимум 3 фото,</b> по нашей статистике больше заказов получают те, кто имеет от 7 фотографий.</li>
                  <li><b>Нет фото под рукой?</b> Можно добавить фото позднее в кабинете, но анкета не может быть одобрена, пока вы не добавите фото.</li>
                </ul>
              </div>
            </div>
            <div class="col-12">
              <div class="more-btn">
                <label class="more mybtn mybtn-orange reg-btn" for="yourPhotos">
                  <input id="yourPhotos" type="file" name="yourPhotos"/><span>Добавить фотографии</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column" style="margin-top:20px">
              <label class="reg-label reg-label-height">Тип жилья</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="homeFlat">
                  <input class="reg-checkbox" id="homeFlat" type="radio" name="home" value="flat"/><span>Квартира</span>
                </label>
                <label class="reg-checkbox-label" for="homeHouse">
                  <input class="reg-checkbox" id="homeHouse" type="radio" name="home" value="house"/><span>Частный дом</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Есть ли в доме дети до 10 лет?</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="childYes">
                  <input class="reg-checkbox" id="childYes" type="radio" name="child" value="yes"/><span>Да</span>
                </label>
                <label class="reg-checkbox-label" for="childNo">
                  <input class="reg-checkbox" id="childNo" type="radio" name="child" value="no"/><span>Нет</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Будет ли собака находиться под присмотром постоянно?</label>
              <label class="reg-label reg-sublabel reg-label-height text-thin">Как правило собаки могут оставаться дома одни в рабочее время, но некоторым клиентам важен постоянный присмотр. Отметьте «Да», если вы не отлучаетесь из дома на длительный срок, например, на работу или учебу.</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="carryYes">
                  <input class="reg-checkbox" id="carryYes" type="radio" name="carry" value="flat"/><span>Да</span>
                </label>
                <label class="reg-checkbox-label" for="carryNo">
                  <input class="reg-checkbox" id="carryNo" type="radio" name="carry" value="house"/><span>Нет</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Есть ли машина на случай экстренной ситуации?</label>
              <label class="reg-label reg-sublabel reg-label-height text-thin">Если собаке потребуется помощь ветеринара</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="carYes">
                  <input class="reg-checkbox" id="carYes" type="radio" name="car" value="yes"/><span>Да</span>
                </label>
                <label class="reg-checkbox-label" for="carNo">
                  <input class="reg-checkbox" id="carNo" type="radio" name="car" value="no"/><span>Нет</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Собак какого размера вы берете на передержку?</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="dogSizeMini">
                  <input class="reg-checkbox" id="dogSizeMini" type="checkbox" name="dogSize" value="mini"/><span>Мини (до 5кг)</span>
                </label>
                <label class="reg-checkbox-label" for="dogSizeLittle">
                  <input class="reg-checkbox" id="dogSizeLittle" type="checkbox" name="dogSize" value="little"/><span>Малый (5-10кг)</span>
                </label>
                <label class="reg-checkbox-label" for="dogSizeMiddle">
                  <input class="reg-checkbox" id="dogSizeMiddle" type="checkbox" name="dogSize" value="middle"/><span>Средний (10-20кг)</span>
                </label>
                <label class="reg-checkbox-label" for="dogSizeBig">
                  <input class="reg-checkbox" id="dogSizeBig" type="checkbox" name="dogSize" value="big"/><span>Большой (20-40кг)</span>
                </label>
                <label class="reg-checkbox-label" for="dogSizeHuge">
                  <input class="reg-checkbox" id="dogSizeHuge" type="checkbox" name="dogSize" value="huge"/><span>Очень большой (более 40кг)</span>
                </label>
                <label class="reg-checkbox-label" for="dogSizeAny">
                  <input class="reg-checkbox" id="dogSizeAny" type="checkbox" name="dogSize" value="any"/><span>Любой</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Собак какого возраста вы берете на передержку?</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="dogAgeMini">
                  <input class="reg-checkbox" id="dogAgeMini" type="checkbox" name="dogAge" value="mini"/><span>Щенки (до 1 года)</span>
                </label>
                <label class="reg-checkbox-label" for="dogAgeAdult">
                  <input class="reg-checkbox" id="dogAgeAdult" type="checkbox" name="dogAge" value="adult"/><span>Взрослые (1-7 лет)</span>
                </label>
                <label class="reg-checkbox-label" for="dogAgeOld">
                  <input class="reg-checkbox" id="dogAgeOld" type="checkbox" name="dogAge" value="old"/><span>Пожилые (от 7 лет)</span>
                </label>
                <label class="reg-checkbox-label" for="dogAgeAny">
                  <input class="reg-checkbox" id="dogAgeAny" type="checkbox" name="dogAge" value="any"/><span>Любой возраст</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Есть ли какие-нибудь животные у вас в доме кроме собак?</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="andCats">
                  <input class="reg-checkbox" id="andCats" type="checkbox" name="addAnimal" value="andCats"/><span>Кошки</span>
                </label>
                <label class="reg-checkbox-label" for="andRats">
                  <input class="reg-checkbox" id="andRats" type="checkbox" name="addAnimal" value="andRats"/><span>Кролики / грызуны</span>
                </label>
                <label class="reg-checkbox-label" for="andBirds">
                  <input class="reg-checkbox" id="andBirds" type="checkbox" name="addAnimal" value="andBirds"/><span>Птицы / Рептилии</span>
                </label>
                <label class="reg-checkbox-label" for="otherAnimals">
                  <input class="reg-checkbox" id="otherAnimals" type="checkbox" name="addAnimal" value="otherAnimals"/><span>Другие</span>
                </label>
                <label class="reg-checkbox-label" for="noAnimals">
                  <input class="reg-checkbox" id="noAnimals" type="checkbox" name="addAnimal" value="noAnimals"/><span>Нет</span>
                </label>
              </div>
            </div>
            <div class="col-12 reg-column">
              <label class="reg-label reg-label-height">Можете ли вы брать кошек на передержку?</label>
            </div>
            <div class="col-12 reg-column">
              <div class="reg-checkbox-wrap">
                <label class="reg-checkbox-label" for="catsYes">
                  <input class="reg-checkbox" id="catsYes" type="radio" name="cats" value="yes"/><span>Да</span>
                </label>
                <label class="reg-checkbox-label" for="catsNo">
                  <input class="reg-checkbox" id="catsNo" type="radio" name="cats" value="no"/><span>Нет</span>
                </label>
              </div>
            </div>
            <div class="col-6 col-sm-5 reg-column">
              <label class="reg-label" for="dogsType">Породы, которые вы не можете брать</label>
            </div>
            <div class="col-6 col-sm-7 reg-column">
              <div class="reg-input-wrap">
                <input class="reg-input" id="dogsType" type="text" name="dogsType"/>
                <label class="reg-label-checkbox" for="dogsTypeCheck">
                  <input class="reg-input" id="dogsTypeCheck" type="checkbox" name="dogsTypeCheck"/><span>Беру любые породы</span>
                </label>
              </div>
            </div>
            <div class="col-12">
              <div class="more-btn text-center">
                <input class="more mybtn mybtn-orange reg-btn" type="submit" value="Завершить"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="big-box">
      <form class="reg-form" id="regSitterStepFifth" action="#">
        <div class="reg-form-wrap">
          <h1 class="reg-title text-center">Специальные навыки</h1>
          <div class="reg-sitter__column">
            <div class="row">
              <div class="col-6 col-sm-5 reg-column">
                <label class="reg-label">Опыт ухода за собакой:<span class="reg-label-text">(лет)</span></label>
              </div>
              <div class="col-6 col-sm-7 reg-column">
                <div class="reg-input-wrap">
                  <input class="reg-input" type="text" name="name"/>
                </div>
              </div>
              <div class="col-12 reg-column">
                <label class="reg-checkbox-label" for="cynologist">
                  <input class="reg-checkbox" id="cynologist" type="checkbox" name="cynologist" value="yes"/><span>Я сертифицированный кинолог</span>
                </label>
              </div>
              <div class="col-12 reg-column">
                <label class="reg-label reg-label-height">Ветеринарные навыки</label>
              </div>
              <div class="col-12 reg-column">
                <div class="reg-checkbox-wrap">
                  <label class="reg-checkbox-label" for="addDoctor">
                    <input class="reg-checkbox" id="addDoctor" type="checkbox" name="add" value="addDoctor"/><span>Я сертифицированный ветеринар</span>
                  </label>
                  <label class="reg-checkbox-label" for="addDrugs">
                    <input class="reg-checkbox" id="addDrugs" type="checkbox" name="add" value="addDrugs"/><span>Умею давать медицинские препараты</span>
                  </label>
                  <label class="reg-checkbox-label" for="addInject">
                    <input class="reg-checkbox" id="addInject" type="checkbox" name="add" value="addInject"/><span>Умею делать инъекции</span>
                  </label>
                </div>
              </div>
              <div class="col-12">
                <div class="more-btn text-center">
                  <input class="more mybtn mybtn-orange reg-btn" type="submit" value="Завершить"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="big-box">
      <form class="reg-form" id="regSitterStepLast" action="#">
        <div class="reg-form-wrap">
          <h1 class="reg-title text-center">Привяжите социальные сети</h1>
          <p class="reg-sitter__subtitle text-center">Укажите ваши личные страницы в социальных сетях. Это необходимо в качестве дополнительного доказательства, что созданная вами анкета принадлежит вам.</p>
          <p class="reg-sitter__subtitle text-center">Ссылки на ваши страницы будет видеть только сотрудник Догси. Укажите ВСЕ соцсети, которыми пользуетесь.</p>
          <div class="row">
            <div class="col-12 reg-column reg-column-soc"><a class="mybtn mybtn-facebook reg-btn-soclink reg-label" href="#" data-toggle="modal" data-target="#setLinkFacebook">Укажите страницу facebook</a></div>
            <div class="col-12 reg-column reg-column-soc"><a class="mybtn mybtn-google reg-btn-soclink reg-label" href="#" data-toggle="modal" data-target="#setLinkGoogle">Укажите страницу google</a></div>
            <div class="col-12">
              <div class="more-btn text-center">
                <input class="more mybtn mybtn-orange reg-btn" type="submit" value="Завершить"/>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<div class="modal fade setAddressModal" id="setAddressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-body">
      <form class="modal-content" action="#">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title-wrap">
          <h3 class="modal-title text-center">Укажите свой адрес</h3>
          <p class="modal-text text-center">Необходимо отметить адрес с точностью до номера дома, где будут содержаться собаки. В целях приватности этот адрес будет скрыт на сайте. Клиенты увидят только ваш район или случайно смещенную точку на карте, пока вы не согласитесь взять их заказ.</p>
          <div class="modal-input-wrap">
            <input class="modal-input" type="text" name="address" placeholder="Ваш адресс"/>
          </div>
          <div class="more-btn text-center">
            <input class="more mybtn mybtn-orange reg-btn" type="submit" value="Сохранить"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade setLinkFacebook" id="setLinkFacebook" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-body">
      <form class="modal-content" action="#">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title-wrap">
          <h3 class="modal-title text-center">Укажите свой адрес Facebook</h3>
          <p class="modal-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, velit. Lorem ipsum dolor sit amet, consectetur.</p>
          <div class="modal-input-wrap">
            <input class="modal-input" type="text" name="address" placeholder="Ваш адресс"/>
          </div>
          <div class="more-btn text-center">
            <input class="more mybtn mybtn-orange reg-btn" type="submit" value="Сохранить"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade setLinkGoogle" id="setLinkGoogle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-body">
      <form class="modal-content" action="#">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title-wrap">
          <h3 class="modal-title text-center">Укажите свой адрес Google</h3>
          <p class="modal-text text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, velit. Lorem ipsum dolor sit amet.</p>
          <div class="modal-input-wrap">
            <input class="modal-input" type="text" name="address" placeholder="Ваш адресс"/>
          </div>
          <div class="more-btn text-center">
            <input class="more mybtn mybtn-orange reg-btn" type="submit" value="Сохранить"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>