
<main class="main">
  <section class="mainSlider" id="mainSlider">
    <div class="mainSlider-item flex-container flex-center sublayout" style="background-image:url(./img/dog.jpg)">
      <div class="container">
        <div class="slider-content-wrap">
          <h1 class="main-title title-yellow">Возьмем собаку в гости пока вы в отъезде</h1>
          <p class="main-text">С кем оставить собаку, пока вы в отъезде? Забронируйте догситтера, который возьмет вашу собаку к себе в дом и будет заботиться о ней как вы.</p>
          <div class="main-btn-wrap flex-container flex-side"><a class="mybtn mybtn-yellow" href="#">Choose sitter 1</a><a class="mybtn mybtn-yellow" href="#">Book again 1</a></div>
        </div>
      </div>
    </div>
    <div class="mainSlider-item flex-container flex-center" style="background-image:url(./img/dog.jpg)">
      <div class="container">
        <div class="slider-content-wrap">
          <h1 class="main-title title-yellow">Возьмем собаку в гости пока вы в отъезде 2</h1>
          <p class="main-text">С кем оставить собаку, пока вы в отъезде? Забронируйте догситтера, который возьмет вашу собаку к себе в дом и будет заботиться о ней как вы.</p>
          <div class="main-btn-wrap flex-container flex-side"><a class="mybtn mybtn-yellow" href="#">Choose sitter 2</a><a class="mybtn mybtn-yellow" href="#">Book again 2</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding who">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading flex-container">
            <h2 class="heading-title custom-line">С кем оставить собаку?</h2>
            <p class="heading-text">Your small contribution make a huge difference and encourage us to continue our works of success. Your small contribution make a huge difference and encourage us to continue our works of success.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-6">
          <div class="who-wrap"><img class="who-img" src="https://via.placeholder.com/300x220" alt="" title=""/>
            <h4 class="who-text text-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, pariatur!</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-6">
          <div class="who-wrap"><img class="who-img" src="https://via.placeholder.com/300x220" alt="" title=""/>
            <h4 class="who-text text-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, pariatur!</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-6">
          <div class="who-wrap"><img class="who-img" src="https://via.placeholder.com/300x220" alt="" title=""/>
            <h4 class="who-text text-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, pariatur!</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="security">
    <div class="container-fluid">
      <div class="row">
        <div class="column-full column-full-6 column-full-img custom-order-sm-0" style="background-image: url(https://via.placeholder.com/600x250)"></div>
        <div class="column-full column-full-6 column-full-text custom-order-sm-1">
          <h4 class="security-title text-font-main custom-line">Every year</h4>
          <p>Every year hundreds of animals such as dogs, cats are become homeless for many reasons. Our mission is to find out the homless animals around the country and make a better life for them. As like human they need love, care and also need home. We founded our organisation to give them a better life and better home. Our successes are going forward and throughtout the year we give a better life around hundreds of homless animals.</p>
        </div>
        <div class="column-full column-full-6 column-full-text custom-order-sm-3">
          <h4 class="security-title text-font-main custom-line">Every year</h4>
          <p>Every year hundreds of animals such as dogs, cats are become homeless for many reasons. Our mission is to find out the homless animals around the country and make a better life for them. As like human they need love, care and also need home. We founded our organisation to give them a better life and better home. Our successes are going forward and throughtout the year we give a better life around hundreds of homless animals.</p>
        </div>
        <div class="column-full column-full-6 column-full-img custom-order-sm-2" style="background-image: url(https://via.placeholder.com/300x120)"></div>
        <div class="column-full column-full-3 column-full-img custom-order-sm-4" style="background-image: url(https://via.placeholder.com/600x250)"></div>
        <div class="column-full column-full-3 column-full-text custom-order-sm-5">
          <h4 class="security-title text-font-main custom-line">Every year</h4>
          <p>Every year hundreds of animals such as dogs, cats are become homeless for many reasons. Our mission is to find out the homless animals around the country and make a better life for them. As like human they need love, care and also need home. We founded our organisation to give them a better life and better home.</p>
        </div>
        <div class="column-full column-full-3 column-full-img custom-order-sm-7" style="background-image: url(https://via.placeholder.com/300x120)"></div>
        <div class="column-full column-full-3 column-full-text custom-order-sm-6">
          <h4 class="security-title text-font-main custom-line">Every year</h4>
          <p>Every year hundreds of animals such as dogs, cats are become homeless for many reasons. Our mission is to find out the homless animals around the country and make a better life for them. As like human they need love, care and also need home. We founded our organisation to give them a better life and better home.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding social">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading flex-container">
            <h2 class="heading-title custom-line">Мы в соцсетях</h2>
            <p class="heading-text">Your small contribution make a huge difference and encourage us to continue our works of success. Your small contribution make a huge difference and encourage us to continue our works of success.</p>
          </div>
          <div class="social-wrap flex-container"><a class="social-item transition" href="#">
              <div class="social-icon text-center transition"><i class="fab fa-facebook"></i></div>
              <div class="social-text text-center">Facebook</div></a><a class="social-item transition" href="#">
              <div class="social-icon text-center transition"><i class="fab fa-instagram"></i></div>
              <div class="social-text text-center">Instagram</div></a><a class="social-item transition" href="#">
              <div class="social-icon text-center transition"><i class="fab fa-twitter"></i></div>
              <div class="social-text text-center">Twitter</div></a><a class="social-item transition" href="#">
              <div class="social-icon text-center transition"><i class="fab fa-google"></i></div>
              <div class="social-text text-center">Google +</div></a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding color-lightGrey sitter-grid">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading flex-container orange">
            <h2 class="heading-title custom-line">Догситтеры</h2>
            <p class="heading-text">Your small contribution make a huge difference and encourage us to continue our works of success. Your small contribution make a huge difference and encourage us to continue our works of success.</p>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <div class="sitter-card"><img class="sitter-img" src="https://via.placeholder.com/250x200" alt="" title=""/>
            <h3 class="sitter-title custom-line">Super dogsitter</h3>
            <p class="sitter-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse illum nobis nostrum provident quae quo quod sint, soluta velit voluptatem!</p><a class="sitter-link mybtn" href="#">Связаться</a>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <div class="sitter-card"><img class="sitter-img" src="https://via.placeholder.com/250x200" alt="" title=""/>
            <h3 class="sitter-title custom-line">Super dogsitter</h3>
            <p class="sitter-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse illum nobis nostrum provident quae quo quod sint, soluta velit voluptatem!</p><a class="sitter-link mybtn" href="#">Связаться</a>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <div class="sitter-card"><img class="sitter-img" src="https://via.placeholder.com/250x200" alt="" title=""/>
            <h3 class="sitter-title custom-line">Super dogsitter</h3>
            <p class="sitter-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse illum nobis nostrum provident quae quo quod sint, soluta velit voluptatem!</p><a class="sitter-link mybtn" href="#">Связаться</a>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-3">
          <div class="sitter-card"><img class="sitter-img" src="https://via.placeholder.com/250x200" alt="" title=""/>
            <h3 class="sitter-title custom-line">Super dogsitter</h3>
            <p class="sitter-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse illum nobis nostrum provident quae quo quod sint, soluta velit voluptatem!</p><a class="sitter-link mybtn" href="#">Связаться</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-padding testimonials">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading flex-container">
            <h2 class="heading-title custom-line">Счетчик довольных клиентов</h2>
            <p class="heading-text">Your small contribution make a huge difference and encourage us to continue our works of success. Your small contribution make a huge difference and encourage us to continue our works of success.</p>
          </div>
        </div>
        <div class="col-12">
          <div class="testimonialsSlider" id="testimonialsSlider">
            <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/250x200" alt="" title=""/>
              <div class="testimonials-wrap">
                <div class="testimonials-quote">
                  <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.<i class="fas fa-quote-left"></i></p>
                </div>
                <h4 class="custom-line testimonials-title">Pett Doe</h4>
                <p class="testimonials-text"> Doctor - Love for Pet</p>
              </div>
            </div>
            <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/250x200" alt="" title=""/>
              <div class="testimonials-wrap">
                <div class="testimonials-quote">
                  <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.<i class="fas fa-quote-left"></i></p>
                </div>
                <h4 class="custom-line testimonials-title">John Doe</h4>
                <p class="testimonials-text"> Doctor - Love for Pet</p>
              </div>
            </div>
            <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/250x200" alt="" title=""/>
              <div class="testimonials-wrap">
                <div class="testimonials-quote">
                  <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.<i class="fas fa-quote-left"></i></p>
                </div>
                <h4 class="custom-line testimonials-title">Coul Doe</h4>
                <p class="testimonials-text"> Doctor - Love for Pet</p>
              </div>
            </div>
            <div class="testimonials-item"><img class="testimonials-img" src="https://via.placeholder.com/250x200" alt="" title=""/>
              <div class="testimonials-wrap">
                <div class="testimonials-quote">
                  <p>Anima is one of the biggest pet rescue organsation in USA. The people of this organisation are very engergatic, hard working and also friendly. It’s a great honor for me to work with them in several projects and events.<i class="fas fa-quote-left"></i></p>
                </div>
                <h4 class="custom-line testimonials-title">Mary Doe</h4>
                <p class="testimonials-text"> Doctor - Love for Pet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>