
<footer class="footer" id="footer">
  <div class="footer-sm">
    <div class="container">
      <div class="flex-container flex-side flex-center-v flex-wrap">
        <div class="footer-sm-item">
          <div class="footer__logo-wrap logo-wrap"><a href="/"><img class="logo footer__logo" src="./img/logo.png" title="logo" alt="logo"/></a></div>
        </div>
        <div class="footer-sm-item flex-container">
          <div class="footer-soc">
            <div class="footer-soc-icon text-center"><i class="fab fa-facebook"></i></div>
            <div class="footer-soc-text text-center">Facebook</div>
          </div>
          <div class="footer-soc">
            <div class="footer-soc-icon text-center"><i class="fab fa-instagram"></i></div>
            <div class="footer-soc-text text-center">Instagram</div>
          </div>
          <div class="footer-soc">
            <div class="footer-soc-icon text-center"><i class="fab fa-google-plus-square"></i></div>
            <div class="footer-soc-text text-center">Google+</div>
          </div>
          <div class="footer-soc">
            <div class="footer-soc-icon text-center"><i class="fab fa-twitter"></i></div>
            <div class="footer-soc-text text-center">Twitter</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-body">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-12">
          <h4 class="title-yellow footer-title">About us</h4>
          <p class="footer-text">As a nono-profit organistion we do lots of social activistis, you can find those in the following links.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
          <h4 class="title-yellow footer-title">About us</h4>
          <p class="footer-text">To stay touch we touch and our works please subscribe our newsletter by entering your email address.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
          <h4 class="title-yellow footer-title">About us</h4>
          <p class="footer-text">To stay touch we touch and our works please subscribe our newsletter by entering your email address.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="center">© 2018 Doggsy - Charity & Activism</p>
    </div>
  </div>
</footer>
<div class="modal fade" id="enter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-body">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title-wrap">
          <h3 class="modal-title text-center">Войдите в аккаунт через соцсети</h3>
        </div>
        <div class="modal-form-wrap"><a class="modal-btn mybtn mybtn-yellow mybtn-facebook" href="#">Авторизация через Facebook</a><a class="modal-btn mybtn mybtn-yellow mybtn-google" href="#">Авторизация через Google+</a></div>
        <div class="modal-form-divider"><span class="modal-form-divider-text">или</span></div>
        <div class="modal-title-wrap">
          <h3 class="modal-title text-center">Войдите с помощью e-mail</h3>
        </div>
        <div class="modal-form-wrap">
          <form class="modal-form" id="modalEnterForm" action="#">
            <div class="modal-input-wrap">
              <input class="modal-input" type="email" placeholder="Введите email"/>
            </div>
            <div class="modal-input-wrap">
              <input class="modal-input" type="password" placeholder="Введите пароль"/>
            </div>
            <div class="modal-input-btn-wrap flex-container flex-side">
              <input class="modal-input transition" type="submit" value="Войти"/><a class="modal-input-link" href="#">Забыли пароль?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-body">
      <div class="modal-content">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title-wrap">
          <h3 class="modal-title text-center">Зарегистрируйтесь</h3>
        </div>
        <div class="modal-form-wrap">
          <div class="modal-input-wrap"><a class="modal-input modal-link transition" href="./reg-sitter.html">Как догситтер</a></div>
        </div>
        <div class="modal-form-divider"><span class="modal-form-divider-text">или</span></div>
        <div class="modal-form-wrap">
          <div class="modal-input-wrap"><a class="modal-input modal-link transition" href="./reg-user.html">Как клиент</a></div>
        </div>
      </div>
    </div>
  </div>
</div>