
<header class="header" id="header">
  <div class="container">
    <div class="header__wrap flex-container">
      <div class="header__logo-wrap header__item logo-wrap"><a href="/"><img class="logo header__logo" src="./img/logo.png" title="logo" alt="logo"/></a></div>
      <div class="header__menu-wrap header__item">
        <div class="header__contact right flex-container"><a class="exit" href="#" data-toggle="modal" data-target="#enter">Выйти</a><a class="exit" href="#" data-toggle="modal" data-target="#register">Выйти</a><a href="mailto:ad.moshchynskyy@gmail.com">Антон Мощинский<img class="header__avatar" src="https://via.placeholder.com/28" alt="user" title="user"/></a></div>
        <ul class="menu header__menu flex-container">
          <li class="header__menu-item menu-item"><a class="header__menu-link menu-link transition custom-line active" href="./">Home</a></li>
          <li class="header__menu-item menu-item"><a class="header__menu-link menu-link transition custom-line" href="./search.html">Search</a></li>
          <li class="header__menu-item menu-item"><a class="header__menu-link menu-link transition custom-line" href="./card.html">Card</a></li>
          <li class="header__menu-item menu-item"><a class="header__menu-link menu-link transition custom-line" href="./ui.html">UI-kit</a></li>
          <li class="header__menu-item menu-item"><a class="header__menu-link menu-link transition custom-line" href="./search.html">Search</a></li>
          <li class="header__menu-item menu-item"><a class="header__menu-link menu-link transition custom-line" href="./card.html">Card</a></li>
          <li class="header__menu-item menu-item login logout"><a class="header__menu-link menu-link transition custom-line" href="#">Антон Мощинский</a></li>
          <li class="header__menu-item menu-item login logout"><a class="header__menu-link menu-link transition custom-line" href="#">Выйти</a></li>
        </ul>
        <div class="langToggle" id="langToggle">
          <ul class="langToggle__list">
            <li class="langToggle__item">EN</li>
            <li class="langToggle__item">UA</li>
          </ul>
        </div>
      </div><a class="toggleMenu" id="toggleMenu" href="#"><span></span></a>
    </div>
  </div>
</header>