<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->
<meta charset="utf-8"/>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<!--meta(name="author", content="")-->
<!--meta(name="description", content="")-->
<!--meta(name="keywords", content="")-->
<link rel="stylesheet" href="./external/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="./external/slick/slick.css"/>
<link rel="stylesheet" href="./external/animate/animate.css"/>
<link rel="stylesheet" href="./external/jquery-select/nice-select.css"/>
<link rel="stylesheet" href="./external/jquery-ui/jquery-ui.min.css"/>
<link rel="stylesheet" href="./external/jquery-ui/jquery-ui.structure.min.css"/>
<link rel="stylesheet" href="./external/jquery-ui/jquery-ui.theme.min.css"/>
<link rel="stylesheet" href="./css/style.css"/><!--[if IE]>
<link rel="icon" href="./img/favicon/favicon.ico"/><![endif]-->
<!-- favicon-->
<link rel="icon" href="./img/favicon/favicon.ico"/><!--[if lt IE 9]>
<script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script><![endif]-->
<!-- FontAwesome-->
<script defer="defer" src="./external/fontawesome/fontawesome.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<!-- fonts-->
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700|Oswald:300,400,600,700&amp;amp;subset=cyrillic,latin-ext" rel="stylesheet"/>
<!-- jquery-->
<script src="./external/jquery/jquery.js"></script>
<body></body>
<div class="preloader" id="preloader">
  <div class="preloader__wrap"><span class="preloader__svg"></span><span class="preloader__text">Не спеши<br/>выдохни</span></div>
</div>