
<script src="./external/bootstrap/js/bootstrap.min.js"></script>
<script src="./external/slick/slick.min.js"></script>
<script src="./external/jquery-ui/jquery-ui.min.js"></script>
<script src="./external/jquery-select/jquery.nice-select.min.js"></script>
<script src="./external/animate/wow.min.js"></script>
<script src="./external/jquery-mask/jquery.mask.min.js"></script>
<script src="./js/application.js"></script>