
<div class="sidebar">
  <div class="sidebar__user sidebar-item text-center"><img class="sidebar__user-img" src="https://via.placeholder.com/300x200" alt="user" title="user"/>
    <h4 class="sidebar__user-title">Елена</h4>
    <p class="sidebar__user-text user-age">28 лет</p>
    <p class="sidebar__user-text user-price">1000 грн / сутки</p><a class="mybtn user-mybtn" href="#">Связаться</a>
    <p class="sidebar__user-text user-address">метро Академгородок</p>
    <p class="sidebar__user-text">Средняя оценка:</p>
    <div class="testimonials-rate"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
    <div class="row">
      <div class="col-6 col-sm-6">
        <p class="text-center sidebar__user-text user-orders"><b>Заказов: </b> 288</p>
      </div>
      <div class="col-6 col-sm-6">
        <p class="text-center sidebar__user-text user-orders"><b>Отзывов: </b> 30</p>
      </div>
    </div>
  </div>
  <div class="sidebar__veri sidebar-item">
    <div class="sidebar__veri-title-wrap text-center">
      <p class="sidebar__veri-title">Верифицирован</p>
      <p class="sidebar__veri-text veri-date">23 января 2016г.</p>
    </div>
    <p class="sidebar__veri-list-title text-center">Что это значит?</p>
    <ul class="sidebar__veri-list">
      <li class="sidebar__veri-list-item"><span>Lorem ipsum dolor 1</span></li>
      <li class="sidebar__veri-list-item"><span>Lorem ipsum dolor 2</span></li>
      <li class="sidebar__veri-list-item"><span>Lorem ipsum dolor 3</span></li>
      <li class="sidebar__veri-list-item"><span>Lorem ipsum dolor 4</span></li>
    </ul>
  </div>
  <div class="sidebar__date sidebar-item">
    <p>Календарь</p>
    <p>Календарь</p>
    <p>Календарь</p>
    <p>Календарь</p>
    <p>Календарь</p>
  </div>
  <div class="sidebar__add sidebar-item">
    <p class="sidebar__add-list-title">Дополнительные услуги
      <ul class="sidebar__add-list">
        <li class="sidebar__add-list-item"><span>Lorem ipsum dolor 1</span></li>
        <li class="sidebar__add-list-item"><span>Lorem ipsum dolor 2</span></li>
        <li class="sidebar__add-list-item"><span>Lorem ipsum dolor 3</span></li>
        <li class="sidebar__add-list-item"><span>Lorem ipsum dolor 4</span></li>
        <li class="sidebar__add-list-item"><span>Lorem ipsum dolor 5</span></li>
      </ul>
    </p>
  </div>
</div>